root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 200
tab_width = 2
ij_continuation_indent_size = 8
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_formatter_tags_enabled = true
ij_smart_tabs = false
ij_visual_guides =
ij_wrap_on_typing = false
trim_trailing_whitespace = true

[*.ets]
ij_continuation_indent_size = 2
ij_extendtypescript_align_multiline_array_initializer_expression = false
ij_extendtypescript_align_multiline_for = false
ij_extendtypescript_align_multiline_parameters = false
ij_extendtypescript_align_multiline_ternary_operation = false
ij_extendtypescript_align_union_types = false
ij_extendtypescript_array_initializer_new_line_after_left_brace = false
ij_extendtypescript_array_initializer_right_brace_on_new_line = false
ij_extendtypescript_array_initializer_wrap = normal
ij_extendtypescript_assignment_wrap = normal
ij_extendtypescript_binary_operation_sign_on_next_line = false
ij_extendtypescript_binary_operation_wrap = normal
ij_extendtypescript_blank_lines_after_imports = 1
ij_extendtypescript_blank_lines_around_class = 1
ij_extendtypescript_blank_lines_around_component_statement_in_struct = 1
ij_extendtypescript_blank_lines_around_field = 0
ij_extendtypescript_blank_lines_around_field_in_interface = 0
ij_extendtypescript_blank_lines_around_field_in_struct = 0
ij_extendtypescript_blank_lines_around_function = 1
ij_extendtypescript_blank_lines_around_method = 1
ij_extendtypescript_blank_lines_around_method_in_interface = 1
ij_extendtypescript_block_brace_style = end_of_line
ij_extendtypescript_brace_style = 1
ij_extendtypescript_call_parameters_new_line_after_left_paren = false
ij_extendtypescript_call_parameters_right_paren_on_new_line = false
ij_extendtypescript_call_parameters_wrap = normal
ij_extendtypescript_catch_on_new_line = false
ij_extendtypescript_class_brace_style = 1
ij_extendtypescript_do_while_brace_force = always
ij_extendtypescript_else_on_new_line = false
ij_extendtypescript_enforce_trailing_comma = keep
ij_extendtypescript_extends_keyword_wrap = off
ij_extendtypescript_field_prefix = _
ij_extendtypescript_finally_on_new_line = false
ij_extendtypescript_for_brace_force = always
ij_extendtypescript_for_statement_new_line_after_left_paren = false
ij_extendtypescript_for_statement_right_paren_on_new_line = false
ij_extendtypescript_for_statement_wrap = normal
ij_extendtypescript_force_quote_style = false
ij_extendtypescript_force_semicolon_style = false
ij_extendtypescript_function_expression_brace_style = 1
ij_extendtypescript_if_brace_force = always
ij_extendtypescript_import_sort_members = true
ij_extendtypescript_import_sort_module_name = false
ij_extendtypescript_indent_case_from_switch = true
ij_extendtypescript_keep_blank_lines_in_code = 2
ij_extendtypescript_keep_indents_on_empty_lines = false
ij_extendtypescript_keep_line_breaks = true
ij_extendtypescript_keep_simple_blocks_in_one_line = false
ij_extendtypescript_keep_simple_methods_in_one_line = false
ij_extendtypescript_label_indent_absolute = false
ij_extendtypescript_label_indent_size = 0
ij_extendtypescript_line_comment_add_space = true
ij_extendtypescript_line_comment_at_first_column = false
ij_extendtypescript_merge_imports = true
ij_extendtypescript_method_brace_style = end_of_line
ij_extendtypescript_method_call_chain_wrap = on_every_item
ij_extendtypescript_method_parameters_new_line_after_left_paren = false
ij_extendtypescript_method_parameters_right_paren_on_new_line = false
ij_extendtypescript_method_parameters_wrap = normal
ij_extendtypescript_operator_linebreak = true
ij_extendtypescript_parentheses_expression_new_line_after_left_paren = false
ij_extendtypescript_parentheses_expression_right_paren_on_new_line = false
ij_extendtypescript_place_assignment_sign_on_next_line = false
ij_extendtypescript_property_prefix =
ij_extendtypescript_space_after_colon = true
ij_extendtypescript_space_after_comma = true
ij_extendtypescript_space_after_dots_in_rest_parameter = false
ij_extendtypescript_space_after_quest = true
ij_extendtypescript_space_after_type_colon = true
ij_extendtypescript_space_before_catch_keyword = true
ij_extendtypescript_space_before_catch_left_brace = true
ij_extendtypescript_space_before_catch_parentheses = true
ij_extendtypescript_space_before_class_left_brace = true
ij_extendtypescript_space_before_colon = true
ij_extendtypescript_space_before_comma = false
ij_extendtypescript_space_before_do_left_brace = true
ij_extendtypescript_space_before_else_keyword = true
ij_extendtypescript_space_before_else_left_brace = true
ij_extendtypescript_space_before_finally_keyword = true
ij_extendtypescript_space_before_finally_left_brace = true
ij_extendtypescript_space_before_for_left_brace = true
ij_extendtypescript_space_before_for_parentheses = true
ij_extendtypescript_space_before_for_semicolon = false
ij_extendtypescript_space_before_if_left_brace = true
ij_extendtypescript_space_before_if_parentheses = true
ij_extendtypescript_space_before_method_call_parentheses = false
ij_extendtypescript_space_before_method_left_brace = true
ij_extendtypescript_space_before_method_parentheses = false
ij_extendtypescript_space_before_parent_in_async_arrow_function = true
ij_extendtypescript_space_before_parent_in_function_expression = true
ij_extendtypescript_space_before_quest = true
ij_extendtypescript_space_before_switch_left_brace = true
ij_extendtypescript_space_before_switch_parentheses = true
ij_extendtypescript_space_before_try_left_brace = true
ij_extendtypescript_space_before_type_colon = false
ij_extendtypescript_space_before_while_keyword = true
ij_extendtypescript_space_before_while_left_brace = true
ij_extendtypescript_space_before_while_parentheses = true
ij_extendtypescript_space_other_after_asterisk_generator = true
ij_extendtypescript_space_other_after_dot_dot_dot = false
ij_extendtypescript_space_other_after_key_value_separator = true
ij_extendtypescript_space_other_before_asterisk_generator = false
ij_extendtypescript_space_other_before_key_value_separator = false
ij_extendtypescript_spaces_around_additive_operators = true
ij_extendtypescript_spaces_around_assignment_operators = true
ij_extendtypescript_spaces_around_bitwise_operators = true
ij_extendtypescript_spaces_around_equality_operators = true
ij_extendtypescript_spaces_around_logical_operators = true
ij_extendtypescript_spaces_around_multiplicative_operators = true
ij_extendtypescript_spaces_around_operators_after_unary = false
ij_extendtypescript_spaces_around_operators_arrow_function = true
ij_extendtypescript_spaces_around_operators_before_unary = false
ij_extendtypescript_spaces_around_relational_operators = true
ij_extendtypescript_spaces_around_shift_operators = true
ij_extendtypescript_spaces_around_unary_operator = false
ij_extendtypescript_spaces_within_array_brackets = false
ij_extendtypescript_spaces_within_braces = true
ij_extendtypescript_spaces_within_brackets = false
ij_extendtypescript_spaces_within_catch_parentheses = false
ij_extendtypescript_spaces_within_es6_import_export_braces = true
ij_extendtypescript_spaces_within_for_parentheses = false
ij_extendtypescript_spaces_within_if_parentheses = false
ij_extendtypescript_spaces_within_interpolation_expressions = false
ij_extendtypescript_spaces_within_method_call_parentheses = false
ij_extendtypescript_spaces_within_method_parentheses = false
ij_extendtypescript_spaces_within_object_literal_braces = true
ij_extendtypescript_spaces_within_object_type_braces = true
ij_extendtypescript_spaces_within_parentheses = false
ij_extendtypescript_spaces_within_switch_parentheses = false
ij_extendtypescript_spaces_within_type_assertions = true
ij_extendtypescript_spaces_within_union_types = true
ij_extendtypescript_spaces_within_while_parentheses = false
ij_extendtypescript_special_else_if_treatment = true
ij_extendtypescript_ternary_operation_signs_on_next_line = false
ij_extendtypescript_ternary_operation_wrap = normal
ij_extendtypescript_use_double_quotes = false
ij_extendtypescript_use_relative_indents = false
ij_extendtypescript_use_semicolon_after_statement = true
ij_extendtypescript_while_brace_force = always
ij_extendtypescript_while_on_new_line = false
ij_extendtypescript_wrapping_call_chain_dot = true
ij_extendtypescript_wrapping_es6_import_export = 5
ij_extendtypescript_wrapping_objects = 5
ij_extendtypescript_wrapping_variable_declarations = 1

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false
